@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

:root {
    --primary-background: #ebebea;
    --menu-background: #bcc0b6;
    --primary-green: #4f5640;
    --secondary-green: #bcc0b6;
    --primary-black: #0f170d;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: var(--primary-black);
    background: var(--primary-background);
}

.section-container {
    padding: 1em 0;
}

.section__description {
    margin: 1.5em 0;
}

.container {
    width: 85%;
    margin: 0 auto;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    border: none;
    background: #ffffff;
    font-weight: 500;
    padding: 1em 2.5em;
}

.carousel {
    margin: 2em 0;
}

/* Header Section */
.section__header {
    margin: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo-container {
    width: 40%;
}

nav {
    display: none;
    z-index: 1;
}

nav ul li {
    list-style: none;
    margin: 2em 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--pria);
    font-weight: bold;
    text-transform: uppercase;
}

.menu-show {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    background: var(--menu-background);
    width: 60%;
    padding: 2em 0;
    height: 100vh;
    filter: drop-shadow(0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.12));
}

.menu-btn-close {
    float: right;
    margin: 0 1.5em;
    color: var(--primary-background);
}

.header-right-icons {
    display: none;
}

/* Hero Section */
.hero-container {
    position: relative;
}

.hero-container img {
    width: 100%;
}

.hero-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2em;
}

.hero__subtitle {
    font-weight: 500;
    margin: 1em 0;
}

/* New Arrivals Section */
.section__title {
    color: var(--primary-green);
    text-transform: uppercase;
    margin: 0.5em 0;
    text-align: center;
}

.section__description {
    text-align: center;
}

.arrival-container {
    width: 21em;
}

.arrival-container img {
    padding: 0.6em;
    height: 21em;
}

.arrival__title,
.arrival__price {
    margin: 0.6em;
}

.arrival__price {
    font-weight: bold;
}

/* Category Section */
.category-container {
    padding: 0.6em;
    width: 21em;
}

.category-container img {
    width: 21em;
    height: 21em;
    mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), transparent);
    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1),
        transparent
    );
}

.category__title {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1.5em 2em;
    text-transform: uppercase;
    color: var(--primary-green);
    font-weight: 500;
}

/* Experience Section */
.grid-container {
    display: grid;
    margin: 1em 0;
}

.experience-content {
    padding: 2em;
}

.experience-title {
    margin: 1em 0;
}

.experience-description {
    margin: 1em 0;
    line-height: 1.6;
}

.experience-btn {
    margin: 1em 0;
}

/* Footer */
.divider {
    width: 100%;
    height: 2px;
    background: var(--secondary-green);
    margin-bottom: 2em;
}

.social-links {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.social-links svg {
    margin: 0 1em;
}

.social-links svg:hover {
    transform: scale(1.2);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2em;
}

.footer-left {
    display: flex;
    margin: 0.5em 0;
}

.footer-right {
    text-align: center;
    margin: 0.5em 0;
}

.footer-right p {
    margin: 1em 0;
}

.footer-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
}

.footer-col a {
    text-decoration: none;
    color: var(--primary-black);
    text-transform: uppercase;
    margin: 0.5em 0;
}

.footer-copyright {
    text-align: center;
    margin-bottom: 2em;
}
